@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: white;
	color: #333;
	font: 14px/1.231 Verdana, Arial, Helvetica, sans-serif;
}

input {
	border: none;
	padding: 0;
}

.header {
	height: 100px;
	margin: 0 auto;
	width: 950px;
}

/* .header a {
	display: block;
	background: url("login/sgwin-y.png") no-repeat;
	width: 300px;
	height: 72px;
	float: right;
	margin: 20px 0px 0 0;
} */

.main {
	/* background: linear-gradient(180deg, rgba(0,134,228,0.5) 0%, rgba(23,103,209,0.5) 62%, rgba(45,72,190,0.5) 100%); */
	background: rgba(45,72,190,0.5) url("login/BG.png") no-repeat;
	height: 100vh;
	width: 100%;
}

.panel {
	background: url("login/year_banner2021.png") no-repeat left;
	width: 1200px;
	height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
	background-size: 491px 291px;
	background-position: 38%;
}

.login {
	width: 270px;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding-bottom: 15px;
}

.login .info {
	background: url("login/input_bg.png") no-repeat left top;
	height: 50px;
	width: 220px;
	margin: 10px auto;
}

.login .info label {
	background: url("login/login_ico.png") no-repeat top;
	display: block;
	font-size: 0;
	text-indent: -99999px;
	height: 35px;
	width: 38px;
	margin: 6px 0px 0 10px;
	float: left;
}

.login .password label {
	background-position: center;
}

.login .code label {
	background-position: bottom;
}

.login .facode label {
/* 	background: url("login/login_ico2.png") no-repeat bottom;
 */}

.login .info input {
	float: left;
	font-size: 16px;
	margin: 12px 0 0 0;
	width: 155px;
	font-family: Microsoft YaHei;
}

.login .info .tip {
	color: #999;
}

.login .code input {
	width: 60px;
}

.login .code img {
	cursor: pointer;
	float: right;
	margin: 9px 15px 0 0;
}

.login .control {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
}

.login .control p {
	position:  absolute;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

.login .control input {
	background: linear-gradient(0deg, rgba(0,134,228,1) 0%, rgba(12,140,231,1) 12%, rgba(24,147,233,1) 25%, rgba(60,166,241,1) 62%, rgba(119,198,253,1) 100%);
	/* background: url("login/submit.png"); */
	display: block;
	height: 36px;
	margin: 0 auto;
	border-radius: 5px;
	width: 215px;
	text-indent: -9999em;
}

.form_t {
	height: 36px;
    margin-top: 15px;
    line-height: 36px;
    margin-left: 30px;
}

.form_t span {
	display: inline-block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	font-weight: 600;
}

span.user_t {
	font-size: 20px;
}

span.user_f {
/* 	background: url("login/google_auth_icon.png") top center no-repeat;
 */	text-indent: 40px;
	margin-top: 5px;
	cursor: pointer;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.login .facode {
	display: none;
}